.main {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--az-colorv2-bg-surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--az-colorv2-text-primary);

  > img {
    width: 107px;
  }

  > p {
    margin-bottom: 5px;
  }
}
