.main {
  :global {
    .ant-modal-root {
      .ant-modal-body {
        .ant-modal-confirm-body {
          .ant-modal-confirm-content {
            margin-top: 0;
          }
        }
      }
    }

    [dir="rtl"] & {
      .ant-modal-close {
        right: auto;
        left: 0;
      }
    }
  }

  .body {
    color: var(--az-theme-text-color);
  }
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: 0 -20px;
    padding: 0 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #333;

    + .content {
      margin-top: 20px;
    }

    [dir="rtl"] & {
      text-align: right;
    }
  }
  .content {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .inner {
  }
}
