.drawer {
  :global {
    .ant-drawer-header {
      padding: 10px 12px;

      .ant-drawer-title {
        > * {
          border: none;
        }
      }
    }
    .ant-drawer-extra {
      > button {
        opacity: 0.2;
        font-size: 16px;

        &:hover,
        &:focus,
        &:active {
          opacity: 1;
        }
      }
    }
    .ant-drawer-body {
      padding: 12px;
      display: flex;
      flex-direction: column;
    }
  }
}

.content {
  flex: 1;
  height: 0;

  > * + * {
    margin-top: 15px;
  }
}

.foot {
  flex: none;
  display: flex;
  margin: 12px 0;

  > * {
    flex: 1;
    width: 0;
    height: 40px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;

    + * {
      margin-inline-start: 10px;
    }
  }

  > *:nth-child(1) {
    color: #fff !important;
    background-color: #2d2d30;

    [data-theme="light"] & {
      color: #2f2f2f !important;
      background-color: #f5f5f5;
    }
  }

  > *:nth-child(2) {
    color: #2f2f2f !important;
    background-color: var(--az-color-primary);
  }
}
