.main {
}

.nav {
  display: flex;
  //justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;

  > *:nth-child(1) {
    flex: none;
    white-space: nowrap;
    //font-weight: 500;
    > *:nth-child(1) {
      color: var(--az-colorv2-text-secondary);
    }
    > *:nth-child(2) {
      margin: 0 2px;
    }
  }
  > *:nth-child(2) {
  }
}

.content {
  .input + .input {
    margin-top: 10px;
  }

  [data-theme="dark"][data-breakpoint="sm"] & {
    .input {
      &:not([aria-disabled="true"]) {
        background-color: #242427;
      }
    }
  }
}

.btnSubmit {
  height: 40px;
  margin-top: 15px;
  width: 100%;
  color: var(--az-colorv2-text-button) !important;
  //font-weight: 500;
  font-size: 14px;
  border-radius: 3px;

  &[disabled] {
    opacity: 0.65;
  }

  &.btnSubmit_buy {
    background-color: var(--az-colorv2-up);

    &:not([disabled]):hover {
      background-color: var(--az-colorv2-up-hover);
    }
  }
  &.btnSubmit_sell {
    background-color: var(--az-colorv2-down);

    &:not([disabled]):hover {
      background-color: var(--az-colorv2-down-hover);
    }
  }

  [data-layout="fullscreen"] & {
    margin-top: 5px;
  }
}

.orderConfirm {
  margin-block: -6px -25px;
  margin-inline: 0;

  > *:nth-child(1) {
    color: var(--az-colorv2-text-primary);
    font-weight: 500;
    line-height: 22px;
  }

  > *:nth-child(2) {
    margin-block: 8px 30px;
    margin-inline: 0;

    > div {
      display: flex;
      justify-content: space-between;
      line-height: 20px;

      > *:nth-child(1) {
        color: var(--az-colorv2-text-tertiary);
      }
      > *:nth-child(2) {
        color: var(--az-colorv2-text-primary);
      }

      + div {
        margin-top: 5px;
      }
    }
  }

  .orderConfirmCheckbox {
    color: var(--az-colorv2-text-tertiary);

    [data-theme="dark"] & {
      :global {
        .ant-checkbox .ant-checkbox-inner {
          border-color: var(--az-colorv2-text-tertiary);
        }
      }
    }
  }
}

.feeInfo {
  min-height: 50px;
  padding-top: 5px;
  color: var(--az-colorv2-text-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  .feeInfoMain {
    color: var(--az-colorv2-text-primary);
  }
}
