.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0 12px;
  padding-inline: 5px;

  font-size: 12px;
  line-height: 14px;
  color: var(--az-colorv2-text-secondary);

  > button {
    flex: 1;
    padding: 0 2px;
    //transition: 0.2s;
    white-space: nowrap;

    &:hover,
    &:focus,
    &:active {
      outline: 0;

      &:not([disabled]) {
        color: var(--az-colorv2-text-primary);
      }
    }

    &.user {
      flex: none;
      min-width: 28px;
      margin-top: -2px;

      &.atv {
        color: var(--az-colorv2-brand-primary);
      }
    }
  }
}

.atv {
  color: var(--az-colorv2-text-primary);
  font-weight: 500;
}
