/*theme*/
.theme-light .js-rootresizer__contents {
  background-color: #fff !important;
}

.theme-dark .js-rootresizer__contents {
  background-color: #111114 !important;
}

.theme-light .chart-controls-bar {
  background-color: #fff !important;
}

.theme-dark .chart-controls-bar {
  background-color: #111114 !important;
}

.theme-light .group-BfVZxb4b,
.theme-light .fill-BfVZxb4b {
  background-color: #fff !important;
}

.theme-dark .group-BfVZxb4b,
.theme-dark .fill-BfVZxb4b {
  background-color: #111114 !important;
}

.theme-light .content-Z4M3tWHb {
  background-color: #fff !important;
}

.theme-dark .content-Z4M3tWHb {
  background-color: #111114 !important;
}

/**/
.dateRangeWrapper-2yU8ifXU .sliderRow-1emAA4_D,
.dateRangeWrapper-2yU8ifXU .separator-13-1nlsQ {
  display: none;
}

:root {
  --tv-color-toolbar-toggle-button-background-active: #ffbe40;
  --tv-color-toolbar-toggle-button-background-active-hover: #ffc453;
  --tv-color-toolbar-button-text-active: #ffbe40;
  --tv-color-toolbar-button-text-active-hover: #ffc453;
}
