.main {
  font-size: 12px;
  padding: 6px 12px;
  color: var(--az-colorv2-text-secondary);
  font-weight: 400;

  > button {
    font-weight: 400 !important;
    color: var(--az-colorv2-system-info);
  }
}
