.main {
  display: flex;
  align-items: center;
  white-space: nowrap;

  :global {
    .itb-widget {
      .powered-by {
        margin: 0 !important;

        .text {
          margin-top: 0;
          color: var(--az-colorv2-text-secondary);
        }

        .logo {
          margin: 0;
        }
      }
    }
  }
}
