.main {
  display: inline-flex;
  align-items: center;
}

.label {
}

.atv {
  color: var(--az-colorv2-brand-primary);
}

.drop {
  margin-inline-end: 5px;
}

.info {
  font-size: 13px;
  color: var(--az-theme-text-color-02);
}
