.main {
}

.trigger {
}

.li {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liAtv {
  .iconLabel > b {
    color: var(--az-colorv2-brand-primary);
  }
}

.liRight {
  text-align: var(--az-dir-text-right);
  font-size: 12px;
  line-height: 1;
  > div {
    font-weight: 500;
    color: var(--az-colorv2-text-primary);
    line-height: 18px;
  }
  > small {
    font-weight: 400;
    color: var(--az-colorv2-text-secondary);
    line-height: 1;
  }
}

.iconLabel {
  display: inline-flex;
  align-items: center;

  > img {
    width: 20px;
    height: 20px;
  }

  > b {
    color: var(--az-colorv2-text-primary);
    font-weight: 500;
    font-size: 14px;
    margin: 0 5px;
  }

  > small {
    color: var(--az-colorv2-text-secondary);
    font-weight: 400;
  }
}

.noData {
  color: var(--az-theme-text-color-02);
  font-style: italic;
}
