.main {
  padding: 5px 12px;
  display: flex;
  align-items: center;

  > * {
    font-size: 12px;

    + * {
      margin-inline-start: 10px;
    }
  }

  :global {
    .ant-picker {
      background: transparent;
      border-color: var(--az-colorv2-border-disabled);
      box-shadow: none;
      .ant-picker-input > input {
        font-size: 12px;
        line-height: 22px;
        color: var(--az-colorv2-text-primary);

        &::placeholder {
          color: var(--az-colorv2-text-secondary);
        }
      }
      .ant-picker-separator {
        color: var(--az-theme-text-color-02);
      }
    }
  }
}

.lab {
  color: var(--az-colorv2-text-tertiary);

  &.atv {
    color: var(--az-colorv2-text-primary);
  }
}

.btn {
  padding: 3px 5px;
  border-radius: 3px;
  //color: var(--az-colorv2-text-secondary);
  //background-color: var(--az-colorv2-bg-hover);
}

.btnSearch {
  color: var(--az-colorv2-text-button) !important;
  background-color: var(--az-colorv2-system-focus);
  padding: 3px 29px;
  height: 32px;
}

.btnReset {
  color: var(--az-colorv2-text-primary) !important;
  background-color: var(--az-colorv2-bg-elevated);
  padding: 3px 29px;
  height: 32px;
}
