.main {
  border-top: 1px solid var(--az-colorv2-border-disabled);
  padding: 10px 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--az-colorv2-text-secondary);

  //> *:nth-child(1) {
  //  color: var(--az-colorv2-text-secondary);
  //}

  button {
    font-weight: 500;
    cursor: auto !important;
  }

  &.login {
    button {
      cursor: pointer !important;
      color: var(--az-colorv2-brand-primary);
    }
  }
}
