.main {
  padding: 20px 12px;
}

.title {
  color: var(--az-colorv2-text-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.btnDiv {
  display: flex;

  > span {
    flex: none;
    width: 8px;
  }

  > button {
    flex: 1;
    background-color: var(--az-colorv2-bg-elevated);
    border-radius: 3px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
  }
}

.ul {
  > * {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    > *:nth-child(1) {
      flex: none;
      margin-inline-start: 5px;
      color: var(--az-colorv2-text-tertiary);
    }
    > *:nth-child(2) {
      text-align: var(--az-dir-text-right);
      color: var(--az-colorv2-text-primary);
    }
  }
}
