.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--az-colorv2-border-disabled);
  margin-block: 14px 18px;
  margin-inline: 0;

  > *:nth-child(1) {
  }

  > *:nth-child(2) {
    flex: none;
    margin-inline-start: 5px;
  }
}

.btn {
  padding-top: 2px;
  line-height: 33px;
  border-bottom: 2px solid transparent;
  //font-weight: 500;
  font-size: 14px;
  color: var(--az-colorv2-text-secondary);

  + .btn {
    margin-inline-start: 20px;
  }

  &.atv {
    color: var(--az-colorv2-text-primary);
    &:not(.only) {
      border-color: var(--az-colorv2-text-primary);
    }
  }
  &.only {
    cursor: text;
    user-select: text;
  }
}
