.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bar {
  flex: none;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-bottom: 1px solid var(--az-colorv2-border-disabled);
    padding: 5px 0;
    margin: 0 12px;

    > * {
      > * + * {
        margin-inline-start: 15px;
      }
    }
  }

  .barBtn {
    padding: 1px 6px;
    border-radius: 3px;
    color: var(--az-colorv2-text-secondary);
  }
  .barBtnAtv {
    color: var(--az-colorv2-brand-primary);
    background-color: rgba(255, 190, 64, 0.1);
  }
}

.content {
  flex: 1;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
