.main {
  color: var(--az-colorv2-text-primary);
  background-color: var(--az-colorv2-bg-base);
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  // padding-bottom: 24px;
}

.header {
  flex: none;
  height: 55px;
  background-color: var(--az-colorv2-bg-surface);
  // border-top: 2px solid var(--az-colorv2-border-default);
}
