.main {
}

.trigger {
  justify-content: flex-end;
  font-weight: 500;
  &:hover,
  &:active,
  &:focus {
    color: var(--az-color-primary) !important;
  }
  //font-size: 12px;
  //line-height: 14px;
}
