.main {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  color: var(--az-colorv2-text-secondary);
  font-weight: 400;
  font-size: 12px;

  > * + * {
    margin-inline-start: 20px;
  }

  svg {
    font-size: 14px;
  }
}

.atv {
  color: var(--az-colorv2-text-primary);
}

.btnIcon {
  color: var(--az-colorv2-text-tertiary);
}
