.AzScrollBarY {
  height: 100%;
}

.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: calc(760px + 24px);
}

.nav {
  flex: none;
  font-weight: 400;
  color: var(--az-theme-text-color-04);
}

.ul {
}

.main .li {
  min-width: 760px;

  > * {
    &:last-child {
      width: 60px;
    }
  }
}

.atv {
  color: var(--az-color-primary);
}

.noData {
  padding: 0;
}
